@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* 
*:focus {
  outline: 1px solid #3d5afe;
  color: #3d5afe !important;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #e8eaf6;
  border-radius: 160px;
}

*::-webkit-scrollbar-thumb {
  background: #c5cae9;
  border-radius: 160px;
} */

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

h3 {
  padding-top: 16px;
}

ul {
  list-style: none;
}

.time ul {
  padding: 0 20px;
  list-style: circle;
}

.icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eff3f4;
  color: #757575;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  /* width: 800px; */
  max-width: 100%;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2px;
  padding-bottom: 20px;
}

.avt {
  width: 200px;
}

.avt img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 16px;
  border: 6px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.about h1 {
  transform: translate(15px);
  font-size: x-large;
}

.about h1 i {
  color: #3d5afe;
}

.tabs {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width: 100%;
}

.tab {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 0 16px;
  width: 100%;
  gap: 30px;
}

.tab-center {
  width: 100%;
  padding: 5px;
  background: #fbf8f6;
  color: #757575;
  border-radius: 16px;
  /* border: 6px solid #fff; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab-center .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab hr {
  margin-right: 20%;
}
